.amarillo{
    height: 120px;
    width: 160px;
    left: 20px;
    top: 40px;
    position: absolute;
    background: yellow;
}
.azul{
    height: 40px;
    width: 40px;
    left: 20px;
    position: relative;
    top: 20px;
    background: #7CC0EF;
}
.verde{
    height: 120px;
    width: 160px;
    left: 100px;
    top: 140px;
    position: absolute;
    background: #6DF2B5;
}
.rojo{
    height: 40px;
    width: 40px;
    position: relative;
    top: 60px;
    left: 100px;
    background: #F93E3E;
}
 
 

